.about {
    background-color: #FFF7ED;
}

.about .hero {
    background-image: url(../../assets/AboutHero.png);
    background-size: cover;
    width: 100%;
    height: 250px;
}

.about .card {
    padding: 32px;
    background-color: #FFCC8D;
    border-radius: 5px;
}

.about .card input {
    padding: 12px 22px 12px 22px;
    border: none;
    border-radius: 5px;
    background: #161616;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.about .content {
    margin: 0px 25px;
}